html
    {margin: 0% 3%;
    background-color:rgb(62, 63, 66);
    color:white;
    text-shadow: 2px 3px 0px rgba(0, 0, 0, 0.6);
}
.navlink {
    text-align: center;
    display: flex;
    justify-content: space-around;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40PX; 
    a:link {color: rgb(255, 255, 255);}
    a:visited {color: rgb(255, 255, 255);}
    a:hover {color: rgb(197, 197, 255);}
    a:active {color: rgb(197, 197, 255);}
}
header {
    font-size: 30PX;
}

.headerlink {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    a:link {color: rgb(255, 255, 255);}
    a:visited {color: rgb(255, 255, 255);}
    a:hover {color: rgb(197, 197, 255);}
    a:active {color: rgb(197, 197, 255);}
}
a {text-decoration: none;
}
main {font-family: 'Franklin Gothic light', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;

}

footer {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25PX;

}

.error { font-size: 90px;
text-align: center;

}

.imageslink {
    margin-top:100px ;
    margin-bottom:100px ;
    text-align: center;
    display: flex;
    justify-content: space-around;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 90PX; 
    a:link {color: rgb(255, 255, 255);}
    a:visited {color: rgb(255, 255, 255);}
    a:hover {color: rgb(197, 197, 255);}
    a:active {color: rgb(197, 197, 255);}
}

.photos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 10px;
}

img {border: 2px solid #ffffff;
    border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;}