<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="My awesome website!">
    <title>Btsully.Net</title>
    <link rel="stylesheet" href="stylesheet.css">
</head>
<body>
<header> 
    <a href="index.html" class="websitename"><h1>Btsully.net</h1></a>
    <hr>
    <nav>
        <a href="index.html" class="navcolor"> <p>HOME</p></a>
        <a href="contact.html" class="navcolor"> <p>CONTACT</p></a>
        <a href="portfolio.html" class="navcolor"> <p>PORTFOLIO</p></a>
        <a href="about.html" class="navcolor"> <p>ABOUT</p></a>
    </nav>
    <hr>
</header>
<main>{{content}}</main>
<footer>
    <P>© William 'Btsully323' Sullivan 2024</p>
</footer>
</body>
</html>