<!DOCTYPE html>
<html lang="en-US">
    <head>
        <link rel="stylesheet" href="stylesheet.css">
        <meta charset="UTF-8">
        <meta name="description" content="Btsully.net - Home of Btsully">
        <link rel="icon" type="image/x-icon" href="favicon-16x16.png">
        <title>Btsully.Net</title>
    </head>
        <body>
            <header>
                <div class="headerlink">
                <h1><a href="index.html">Btsully.net</h1></a>
                </div>
                <hr>
                <nav>
                    <div class="navlink">
                    <a href="index.html"> HOME </a>
                    <a href="contact.html"> CONTACT </a>
                    <a href="portfolio.html"> PORTFOLIO </a>
                    <a href="blog.html">BLOG</a>
                    <a href="about.html"> ABOUT </a>
                </div>
                </nav>
                <hr>
            </header>
            <main>{{content}}</main>
            <footer>
                <hr>
                <p>© William 'Btsully323' Sullivan 2024</p>
            </footer>
    </body>
</html>